services:
  -
    class: Eloquent\Phpstan\Phony\Type\MockReturnType
    tags:
      - phpstan.broker.dynamicFunctionReturnTypeExtension
      - phpstan.broker.dynamicStaticMethodReturnTypeExtension
  -
    class: Eloquent\Phpstan\Phony\Type\InstanceHandleGetReturnType
    tags:
      - phpstan.broker.dynamicMethodReturnTypeExtension
  -
    class: Eloquent\Phpstan\Phony\Type\MockBuilderReturnType
    tags:
      - phpstan.broker.dynamicFunctionReturnTypeExtension
      - phpstan.broker.dynamicStaticMethodReturnTypeExtension
  -
    class: Eloquent\Phpstan\Phony\Type\MockBuilderGetReturnType
    tags:
      - phpstan.broker.dynamicMethodReturnTypeExtension
  -
    class: Eloquent\Phpstan\Phony\Type\HandleProperties
    tags:
      - phpstan.broker.propertiesClassReflectionExtension
